#root {
 background-color: #f7f7f7;
}
.topheader {
  background-color: #333333;
}
.navbar {
  background-color: #333333;
}
.navbar-item {
  color: #fff;
}
.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}
h1 {
  text-align: center;
  font-size: 30px;
}